<h2><%= @films['name'] %></h2>
<pre> 
  <h2><%= @films['title'] %></h2>
  <p>desc: <%= @films['description'] %></p> 
</pre>

<a href="/films/<%= @films['id'] %>/edit">Edit</a>

<form action='/films/<%= @films['id'] %>/delete' method='post'> 
  <button type="submit">DELETE</button>
</form>

<a href="/films/new_comment">Lägg till kommentar OBS!!! fungerar ej</a>

<a href="/films">Tillbaka till filmer</a>
